<footer class="site-footer navbar-fixed-bottom">

  <div class="wrapper container">

    <div class="footer-col-wrapper">
      <div class="col-md-4 pull-left">
        <ul class="social-media-list">
          {% if site.facebook_username %}
          <li>
            {% include icon-facebook.html username=site.facebook_username title=site.title %}
          </li>
          {% endif %}
          <li><a href="mailto:{{ site.email }}"><span class="email"><i class="fa fa-envelope"></i>{{ site.email }}</span></a></li>
        </ul>
      </div>
    </div>

  </div>

</footer>
